@font-face {
    font-family: HelveticaNowDisplay;
    font-weight: 400;
    font-style: normal;
    src: url("font/HelveticaNowDisplay/HelveticaNowDisplay-Regular.ttf") format("truetype");
}
@font-face {
    font-family: HelveticaNowDisplay;
    font-weight: 500;
    font-style: normal;
    src: url("font/HelveticaNowDisplay/HelveticaNowDisplay-Medium.ttf") format("truetype");
}
@font-face {
    font-family: HelveticaNowDisplay;
    font-weight: 600;
    font-style: normal;
    src: url("font/HelveticaNowDisplay/HelveticaNowDisplay-Bold.ttf") format("truetype");
}

@font-face {
    font-family: CabinetGrotesk;
    font-weight: 600;
    font-style: normal;
    src: url("font/CabinetGrotesk/CabinetGrotesk-Bold.ttf") format("truetype");
}
@font-face {
    font-family: CabinetGrotesk;
    font-weight: 800;
    font-style: normal;
    src: url("font/CabinetGrotesk/CabinetGrotesk-Black.ttf") format("truetype");
}

html, body {
    color: #61594d;
    font-family: 'HelveticaNowDisplay', sans-serif;
    font-size: 16px;
    background: #FFF;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header, nav, section, footer {
    display: block;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: block;
}

// -------------------------
.link {
    color: #61594d;
}
.link:hover,
.link:active,
.link:focus {
    color: #d6680f;
}

// -------------------------
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #f7f7f7;
    .nav {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex: 0 auto;
        padding: 30px 0;
        z-index: 2;
        .logo {
            flex-grow: 1;
        }
        .menu {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 2;
            justify-content: center;
            align-items: center;
            li {
                padding: 0 15px;
                &:first-of-type {
                    padding-left: 0;
                }
                &:last-of-type {
                    padding-right: 0;
                }
                a {
                    color: #2c2321;
                    font-size: 0.875rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    &.active {
                        padding-bottom: 4px;
                        border-bottom: 1px solid #2c2321;
                    }
                }
            }
        }
        .block {
            display: flex;
                flex-wrap: wrap;
                justify-content: right;
                align-items: center;
                flex-grow: 1;
            .lang {
                margin-right: 30px;
                a {
                color: #2c2321;
                font-size: 0.875rem;
                font-weight: 500;
                text-transform: uppercase;
                &::after {
                    content: url(img/up.svg);
                    margin-left: 10px;
                    width: 9px;
                    height: 4px;
                    }
                }
            }
            .button {
                font-family: 'CabinetGrotesk', sans-serif;
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }
}

.showcase {
    background-color: #f7f7f7;
    .text {
        display: inline-block;
        padding-top: 120px;
        width: 47%;
        h1 {
            position: relative;
            color: #2c2321;
            font-family: 'CabinetGrotesk', sans-serif;
            font-size: 3.875rem;
            font-weight: 800;
            margin: 0;
            z-index: 1;
            &::after {
                content: url("img/star.svg");
                position: absolute;
                top: -58%;
                left: -22%;
                z-index: -1;
            }
        }
        p {
            position: relative;
            color: #61594D;
            font-size: 1rem;
            line-height: 30px;
            padding: 24px 0 34px;
            margin: 0;
            z-index: 1;
        }
        .button {
            position: relative;
            display: inline-block;
            font-family: 'CabinetGrotesk', sans-serif;
            font-size: 1rem;
            font-weight: 600;
            padding: 20px 40px;
            z-index: 1;
        }
    }
    .back {
        display: inline-block;
        padding-top: 120px;
        width: 47%;
        .img {
            position: absolute;
            top: 160px;
            right: 0;
        }
    }
    .info {
        display: flex;
        padding: 100px 0 175px 0;
        .rating {
            position: relative;
            flex: 0 77%;
            max-width: 77%;
            .title {
                color: #2c2321;
                font-family: 'CabinetGrotesk', sans-serif;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 2%;
                span::before {
                    content: url(img/rate.svg);
                    margin: 0 5px 0 5px;
                    width: 16px;
                    height: 16px;
                }
            }
            .description {
                color: #61594D;
                font-family: 'HelveticaNowDisplay', sans-serif;
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: 2%;
            }
            ul li {
                display: inline-block;
                margin-left: -20px;
                &:first-of-type {
                    margin-left: 0;
                }
                .img {
                    width: 48px;
                    border-radius: 50%;
                    border: 2px solid #fff;
                }
                .total {
                    position: relative;
                    top: -18px;
                    color: #fff;
                    font-family: 'CabinetGrotesk', sans-serif;
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 16px;
                    letter-spacing: 2%;
                    background-color: #d6680f;
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;
                    padding: 14px 11px;
                }
            }
        }
        .phone {
            position: relative;
            flex: 0 23%;
            max-width: 23%;
            padding-top: 55px;
            .number a {
                color: #d6680f;
                font-family: 'CabinetGrotesk', sans-serif;
                font-size: 1rem;
                font-weight: 600;
                padding-bottom: 4px;
                border-bottom: 1px solid #d6680f;
            }
            .description {
                color: #61594D;
                font-family: 'HelveticaNowDisplay', sans-serif;
                font-size: 0.75rem;
                font-weight: 500;
            }
        }
    }
}

.intro {
    padding-bottom: 120px;
    .search-price {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 30px 50px 150px rgba(39, 31, 26, 0.2);
        padding: 50px;
        margin: -100px 0 120px 0;
        h4 {
            font-family: 'CabinetGrotesk', sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.25;
            color: #2C2321;
            margin: 0 0 20px 0;
        }
        form {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            input {
                flex-grow: 1;
                min-width: 100px;
                font-family: 'HelveticaNowDisplay', sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                color: rgba(97, 89, 77, 0.6);
                background-color: #f5f5f5;
                border: none;
                border-radius: 6px;
                padding: 0 20px 0 20px;
                margin: 0 20px 0 0;
                height: 60px;
                outline:none;
                &:nth-child(1) {
                    background-image: url(img/map-pin.svg);
                    background-repeat: no-repeat;
                    background-position : calc(100% - 20px) 50%;
                }
                &:nth-child(2) {
                    background-image: url(img/home.svg);
                    background-repeat: no-repeat;
                    background-position : calc(100% - 20px) 50%;
                }
                &:nth-child(3) {
                    background-image: url(img/dollar-sign.svg);
                    background-repeat: no-repeat;
                    background-position : calc(100% - 20px) 50%;
                }
            }
            button {
                flex-grow: 0;
                font-family: 'CabinetGrotesk', sans-serif;
                font-size: 16px;
                line-height: 1.25;
                font-weight: 600;
                color: #ffffff;
                background: #d6680f;
                border: none;
                border-radius: 6px;
                white-space: nowrap;
                padding: 20px 40px;
            }
        }
    }
    .advantage {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .block {
            width: 33.333%;
            .title {
                font-family: 'CabinetGrotesk', sans-serif;
                font-size: 32px;
                font-weight: 800;
                margin: 30px 0 0 0;
            }
            .text {
                font-family: 'HelveticaNowDisplay', sans-serif;
                font-size: 16px;
                line-height: 1.75;
                color: #61594d;
                margin: 10px 0 30px 0;
            }
            .total {
                font-family: 'CabinetGrotesk', sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.25;
                text-decoration: underline;
                color: #61594d;
                &.active {
                    color: #d6680f;
                }
            }
        }
    }
}

.about {
    background-color: #fdfbf6;
    .container {
        padding: 75px 0;
        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .back {
                width: 60%;
                img {
                    position: relative;
                    margin-left: -130px;
                    max-width: 700px;
                }
            }
            .text {
                width: 40%;
                h3 {
                    font-family: 'CabinetGrotesk', sans-serif;
                    font-size: 48px;
                    font-weight: 800;
                    line-height: 1.25;
                    color: #2c2321;
                    margin: 0;
                }
                p {
                    font-family: 'HelveticaNowDisplay', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.75;
                    color: #61594d;
                    margin: 20px 0 40px 0;
                }
                .button {
                    display: inline-block;
                    color: #ffffff;
                    background-color: #d6680f;
                    border-radius: 6px;
                    padding: 20px 40px;
                }
            }
        }
    }
}

.projects {
    padding: 120px 0;
    &__title {
        color: #2c2321;
        font-family: 'CabinetGrotesk', sans-serif;
        font-size: 48px;
        line-height: 1.25;
        margin: 0 0 50px 0;
    }
    &__block {
        position: relative;
        display: flex;
        flex-direction: row;
        // overflow: hidden;
        justify-content: space-between;
        padding: 0 0 150px 0;
        &:last-child {
            padding: 0;
        }
    }
    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: end;
        &:first-child {
            padding: 0 40px 0 0;
        }
        &:last-child {
            padding: 0 0 0 100px;
        }
    }
    &__desc-line {
        background-color: #61594d;
        margin: 0 0 20px 0;
        max-width: 300px;
        height: 1px;
    }
    &__desc-title {
        color: #2c2321;
        font-family: 'CabinetGrotesk', sans-serif;
        font-size: 32px;
        font-weight: 800;
        line-height: 1.25;
        margin: 0 0 10px 0;
    }
    &__desc-text {
        color: #61594D;
        font-family: 'HelveticaNowDisplay', sans-serif;
        font-size: 16px;
        line-height: 1.75;
        max-width: 330px;
        margin: 0;
    }
    &__photo {
    }
    &__photo-img {
        display: block;
        &_left {
            max-width: 700px;
        }
        &_right {
            margin: 0 -150px 0 0;
            max-width: 770px;
        }
    }
}

.blog {
    padding: 120px 0;
    .container {
        .blog-post {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .blog-post__block {
                width: 50%;
                &:first-child {
                    padding: 0 35px 0 0;
                }
                &:last-child {
                    padding: 0 0 0 35px;
                }
                padding: 0 35px;
                .blog-post__img {
                    display: block;
                    padding-bottom: 50px;
                    max-width: 535px;
                    width: 100%;
                }
                .blog-post__data {
                    color: #61594D;
                    font-family: 'HelveticaNowDisplay', sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 2;
                    margin: 0 0 10px 0;
                }
                .blog-post__name::before {
                    content: '';
                    position: relative;
                    display: inline-block;
                    border-radius: 50%;
                    background-color: #d6680f;
                    vertical-align: middle;
                    margin: 0 10px 0 13px;
                    width: 6px;
                    height: 6px;
                }
                .blog-post__line {
                    background-color: #61594d;
                    margin: 0 0 20px 0;
                    max-width: 300px;
                    height: 1px;
                }
                .blog-post__title {
                    color: #2c2321;
                    font-family: 'CabinetGrotesk', sans-serif;
                    font-size: 32px;
                    font-weight: 800;
                    line-height: 1.25;
                    margin: 0 0 10px 0;
                    max-width: 450px;
                }
                .blog-post__description {
                    color: #61594d;
                    font-family: 'HelveticaNowDisplay', sans-serif;
                    font-size: 16px;
                    line-height: 1.75;
                    margin: 0;
                    max-width: 450px;
                }
            }
        }
    }
}

.architects {
    background-color: #2c2321;
}

.architects-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 120px 0;
    &__head {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 350px;
    }
    &__title {
        font-family: 'CabinetGrotesk', sans-serif;
        font-size: 48px;
        font-weight: 800;
        line-height: 1.25;
        color: #fff;
        margin: 0;
    }
    &__nav {
        display: flex;
    }
    .nav-block {
        &__button {
            &:first-child {
                margin: 0 5px 0 0;
            }
            &:last-child {
                margin: 0 0 0 5px;
            }
            &_left{
            }
            &_right{
            }
        }
        &__link {
            &:hover {
            }
        }
        &__img {
            fill: none;
            width: 35px;
            height: 24px;
            path {
                stroke: #cdcdcd;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 2;
            }
            &:hover path {
                stroke: #d6680f;
            }
        }
    }
    &__body {
        display: flex;
        padding: 0 15px;
    }
    &__column {
        padding: 0 15px;
    }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    .card-block {
        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            background: linear-gradient(1.46deg, rgba(44, 35, 33, 0.9) -2.39%, rgba(44, 35, 33, 0) 34.73%, rgba(44, 35, 33, 0) 49.63%);
        }
        &__img {
            width: 100%;
            max-width: 350px;
        }
        &__details {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
        }
    }
    .details-block {
        padding: 0 0 23px 30px;
        &__name {
            color: #fff;
            font-family: 'CabinetGrotesk', sans-serif;
            font-weight: 800;
            font-size: 24px;
            line-height: 1.25;
            margin: 0;
        }
        &__work {
            color: #cdcdcd;
            font-family: 'HelveticaNowDisplay', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            margin: 0;
        }
    }
}

.footer-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #61594d;
    padding: 40px 0 50px 0;
    &__logo {
        display: flex;
        justify-content: baseline;
        width: 30%;
    }
    &__contact {
        display: flex;
        justify-content: baseline;
        width: 30%;
    }
    .contact-block {
        &__list {
            max-width: 144px;
        }
        &__item {
            line-height: 1.75;
        }
        &__link {
        }
    }
    &__menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        width: 20%;
    }
    .menu-block {
        &__list {
        }
        &__item {
            line-height: 1.75;
        }
        &__link {
        }
    }
    &__social {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        width: 20%;
    }
    .social-block {
        &__list {
        }
        &__item {
            line-height: 1.75;
        }
        &__link {
        }
    }
}

// Other Styles

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button {
    color: #fff;
    background-color: #d6680f;
    border-radius: 6px;
    padding: 10px 30px;
}

@media all and (max-width: 1280px) {
    .showcase {
        .text {
            padding-top: 80px;
            width: 40%;
            h1 {
                font-size: 2.875rem;
            }
        }
        .back {
            padding-top: 80px;
            .img {
                position: absolute;
                top: 16%;
                right: 0;
                max-width: 62%;
            }
        }
    }
}

@media all and (max-width: 1200px) {
    .row {
        margin: 0 30px;
    }
    .projects {
        &__title {
        }
        &__block {
            &:last-child {
            }
        }
        &__desc {
            &:first-child {
            }
            &:last-child {
            }
        }
        &__desc-line {
        }
        &__desc-title {
        }
        &__desc-text {
        }
        &__photo {
        }
        &__photo-img {
            width: 100%;
            &_left {
            }
            &_right {
            }
        }
    }
}

@media all and (max-width: 969px) {
    .showcase {
        .text {
            text-align: center;
            padding-top: 20px;
            width: 100%;
        }
        .back {
            text-align: center;
            padding-top: 20px;
            width: 100%;
            .img {
                position: relative;
                max-width: 70%;
            }
        }
    }
    .intro {
        .search-price {
            h4 {
                text-align: center;
            }
            form {
                flex-wrap: wrap;
                justify-content: center;
                input {
                    margin-bottom: 20px;
                    &:nth-child(2) {
                        margin-right: 0;
                    }
                    &:nth-child(3) {
                        width: 100%;
                        margin-right: 0;
                    }
                }
            }
        }
        .advantage {
            .block {
                padding: 0 15px;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                .title {
                }
                .text {

                }
                .total {

                }
            }
        }
    }
    .about {
        .container {
            .row {
                padding: 0 15px 0 15px;
                .back {
                    text-align: center;
                    padding: 0 0 40px 0;
                    width: 100%;
                    img {
                        margin-left: 0;
                        max-width: 600px;
                        width: 100%;
                    }
                }
                .text {
                    text-align: center;
                    width: 100%;
                    h3 {
                        padding: 0 80px;
                    }
                    p {

                    }
                    .button {

                    }
                }
            }
        }
    }
    // .projects {
    //     &__title {
    //     }
    //     &__block {
    //         &:last-child {
    //         }
    //     }
    //     &__desc {
    //         &:first-child {
    //         }
    //         &:last-child {
    //         }
    //     }
    //     &__desc-line {
    //     }
    //     &__desc-title {
    //     }
    //     &__desc-text {
    //     }
    //     &__photo {
    //     }
    //     &__photo-img {
    //         &_left {
    //         }
    //         &_right {
    //         }
    //     }
    // }
}

@media all and (max-width: 768px) {
    .row {
        margin: 0 90px;
    }
    .header {
        .nav {
            .logo {
                text-align: center;
            }
            .menu {
                padding-top: 18px;
                flex: 0 100%;
                max-width: 100%;
            }
            .block {
                justify-content: center;
                padding-top: 15px;
                flex: 0 100%;
                max-width: 100%;
            }
        }
    }
    .showcase {
        .back {
            .img {
                max-width: 100%;
            }
        }
        .info {
            .rating {
                flex: 0 60%;
                max-width: 60%;
            }
            .phone {
                flex: 0 40%;
                max-width: 40%;
            }
        }
    }
    .intro {
        .advantage {
            flex-wrap: wrap;
            .block {
                width: 50%;
                padding: 15px;
                &:nth-child(2) {
                    padding-right: 0;
                }
                .title {
                }
                .text {

                }
                .total {

                }
            }
        }
    }
    .about {
        .container {
            .row {
                .back {
                    img {
                    }
                }
                .text {
                    h3 {
                        padding: 0 40px;
                    }
                    p {

                    }
                    .button {

                    }
                }
            }
        }
    }
    .projects {
        &__title {
        }
        &__block {
            padding: 0 0 50px 0;
            &:nth-of-type(2n) {
                flex-direction: column;
            }
            &:nth-of-type(2n+1) {
                flex-direction: column-reverse;
            }
        }
        &__desc {
            width: 100%;
            &:first-child {
                padding: 0;
            }
            &:last-child {
                padding: 0;
            }
        }
        &__desc-line {
            margin: 20px 0;
        }
        &__desc-title {
        }
        &__desc-text {
            max-width: 100%;
        }
        &__photo {
            width: 100%;
        }
        &__photo-img {
            &_left {
            }
            &_right {
            }
        }
    }
    .blog {
        .container {
            .blog-post {
                .blog-post__block {
                    width: 100%;
                    &:first-child {
                        padding: 0 0 50px 0;
                    }
                    &:last-child {
                        padding: 0;
                    }
                    .blog-post__img {
                        max-width: 100%;
                    }
                    .blog-post__data {
                    }
                    .blog-post__name::before {
                    }
                    .blog-post__line {
                    }
                    .blog-post__title {
                    }
                    .blog-post__description {
                    }
                }
            }
        }
    }
}

@media all and (max-width: 576px) {
    .row {
        margin: 0 60px;
    }
    .intro {
        .search-price {
            h4 {
                text-align: center;
            }
            form {
                flex-wrap: wrap;
                justify-content: center;
                input {
                    margin-bottom: 20px;
                    &:nth-child(1) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .about {
        .container {
            .row {
                .back {
                    img {
                    }
                }
                .text {
                    h3 {
                        padding: 0;
                    }
                    p {

                    }
                    .button {

                    }
                }
            }
        }
    }
    .footer-block {
        &__logo {
            justify-content: center;
            padding: 0 0 30px 0;
            width: 50%;
        }
        &__contact {
            justify-content: center;
            text-align: center;
            padding: 0 0 30px 0;
            width: 50%;
        }
        .contact-block {
            &__list {
            }
            &__item {
            }
            &__link {
            }
        }
        &__menu {
            justify-content: center;
            text-align: center;
            width: 50%;
        }
        .menu-block {
            &__list {
            }
            &__item {
            }
            &__link {
            }
        }
        &__social {
            justify-content: center;
            text-align: center;
            width: 50%;
        }
        .social-block {
            &__list {
            }
            &__item {
            }
            &__link {
            }
        }
    }
}

@media all and (max-width: 480px) {
    .showcase {
        .text {
            h1 {
                &::after {
                    top: -28%;
                }
            }
        }
    }
}

@media all and (max-width: 420px) {
    .row {
        margin: 0 30px;
    }
    .showcase {
        .info {
            display: block;
            .rating, .phone {
                flex: 0 100%;
                max-width: 100%;
            }
        }
    }
    .footer-block {
        &__logo {
            width: 100%;
        }
        &__contact {
            width: 100%;
        }
        .contact-block {
            &__list {
                max-width: 100%;
            }
            &__item {
            }
            &__link {
            }
        }
        &__menu {
        }
        .menu-block {
            &__list {
            }
            &__item {
            }
            &__link {
            }
        }
        &__social {
        }
        .social-block {
            &__list {
            }
            &__item {
            }
            &__link {
            }
        }
    }
}

@media all and (max-width: 380px) {

}