@font-face {
  font-family: HelveticaNowDisplay;
  font-weight: 400;
  font-style: normal;
  src: url("font/HelveticaNowDisplay/HelveticaNowDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: HelveticaNowDisplay;
  font-weight: 500;
  font-style: normal;
  src: url("font/HelveticaNowDisplay/HelveticaNowDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: HelveticaNowDisplay;
  font-weight: 600;
  font-style: normal;
  src: url("font/HelveticaNowDisplay/HelveticaNowDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: CabinetGrotesk;
  font-weight: 600;
  font-style: normal;
  src: url("font/CabinetGrotesk/CabinetGrotesk-Bold.ttf") format("truetype");
}
@font-face {
  font-family: CabinetGrotesk;
  font-weight: 800;
  font-style: normal;
  src: url("font/CabinetGrotesk/CabinetGrotesk-Black.ttf") format("truetype");
}
html, body {
  color: #61594d;
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 16px;
  background: #FFF;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

header, nav, section, footer {
  display: block;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: block;
}

.link {
  color: #61594d;
}

.link:hover,
.link:active,
.link:focus {
  color: #d6680f;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #f7f7f7;
}
.header .nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 0 auto;
  padding: 30px 0;
  z-index: 2;
}
.header .nav .logo {
  flex-grow: 1;
}
.header .nav .menu {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}
.header .nav .menu li {
  padding: 0 15px;
}
.header .nav .menu li:first-of-type {
  padding-left: 0;
}
.header .nav .menu li:last-of-type {
  padding-right: 0;
}
.header .nav .menu li a {
  color: #2c2321;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}
.header .nav .menu li a.active {
  padding-bottom: 4px;
  border-bottom: 1px solid #2c2321;
}
.header .nav .block {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
}
.header .nav .block .lang {
  margin-right: 30px;
}
.header .nav .block .lang a {
  color: #2c2321;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}
.header .nav .block .lang a::after {
  content: url(img/up.svg);
  margin-left: 10px;
  width: 9px;
  height: 4px;
}
.header .nav .block .button {
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.showcase {
  background-color: #f7f7f7;
}
.showcase .text {
  display: inline-block;
  padding-top: 120px;
  width: 47%;
}
.showcase .text h1 {
  position: relative;
  color: #2c2321;
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 3.875rem;
  font-weight: 800;
  margin: 0;
  z-index: 1;
}
.showcase .text h1::after {
  content: url("img/star.svg");
  position: absolute;
  top: -58%;
  left: -22%;
  z-index: -1;
}
.showcase .text p {
  position: relative;
  color: #61594D;
  font-size: 1rem;
  line-height: 30px;
  padding: 24px 0 34px;
  margin: 0;
  z-index: 1;
}
.showcase .text .button {
  position: relative;
  display: inline-block;
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 20px 40px;
  z-index: 1;
}
.showcase .back {
  display: inline-block;
  padding-top: 120px;
  width: 47%;
}
.showcase .back .img {
  position: absolute;
  top: 160px;
  right: 0;
}
.showcase .info {
  display: flex;
  padding: 100px 0 175px 0;
}
.showcase .info .rating {
  position: relative;
  flex: 0 77%;
  max-width: 77%;
}
.showcase .info .rating .title {
  color: #2c2321;
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 2%;
}
.showcase .info .rating .title span::before {
  content: url(img/rate.svg);
  margin: 0 5px 0 5px;
  width: 16px;
  height: 16px;
}
.showcase .info .rating .description {
  color: #61594D;
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2%;
}
.showcase .info .rating ul li {
  display: inline-block;
  margin-left: -20px;
}
.showcase .info .rating ul li:first-of-type {
  margin-left: 0;
}
.showcase .info .rating ul li .img {
  width: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.showcase .info .rating ul li .total {
  position: relative;
  top: -18px;
  color: #fff;
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2%;
  background-color: #d6680f;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 14px 11px;
}
.showcase .info .phone {
  position: relative;
  flex: 0 23%;
  max-width: 23%;
  padding-top: 55px;
}
.showcase .info .phone .number a {
  color: #d6680f;
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 4px;
  border-bottom: 1px solid #d6680f;
}
.showcase .info .phone .description {
  color: #61594D;
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}

.intro {
  padding-bottom: 120px;
}
.intro .search-price {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 30px 50px 150px rgba(39, 31, 26, 0.2);
  padding: 50px;
  margin: -100px 0 120px 0;
}
.intro .search-price h4 {
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  color: #2C2321;
  margin: 0 0 20px 0;
}
.intro .search-price form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.intro .search-price form input {
  flex-grow: 1;
  min-width: 100px;
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(97, 89, 77, 0.6);
  background-color: #f5f5f5;
  border: none;
  border-radius: 6px;
  padding: 0 20px 0 20px;
  margin: 0 20px 0 0;
  height: 60px;
  outline: none;
}
.intro .search-price form input:nth-child(1) {
  background-image: url(img/map-pin.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
}
.intro .search-price form input:nth-child(2) {
  background-image: url(img/home.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
}
.intro .search-price form input:nth-child(3) {
  background-image: url(img/dollar-sign.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
}
.intro .search-price form button {
  flex-grow: 0;
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  color: #ffffff;
  background: #d6680f;
  border: none;
  border-radius: 6px;
  white-space: nowrap;
  padding: 20px 40px;
}
.intro .advantage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.intro .advantage .block {
  width: 33.333%;
}
.intro .advantage .block .title {
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 32px;
  font-weight: 800;
  margin: 30px 0 0 0;
}
.intro .advantage .block .text {
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: #61594d;
  margin: 10px 0 30px 0;
}
.intro .advantage .block .total {
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-decoration: underline;
  color: #61594d;
}
.intro .advantage .block .total.active {
  color: #d6680f;
}

.about {
  background-color: #fdfbf6;
}
.about .container {
  padding: 75px 0;
}
.about .container .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about .container .row .back {
  width: 60%;
}
.about .container .row .back img {
  position: relative;
  margin-left: -130px;
  max-width: 700px;
}
.about .container .row .text {
  width: 40%;
}
.about .container .row .text h3 {
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.25;
  color: #2c2321;
  margin: 0;
}
.about .container .row .text p {
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #61594d;
  margin: 20px 0 40px 0;
}
.about .container .row .text .button {
  display: inline-block;
  color: #ffffff;
  background-color: #d6680f;
  border-radius: 6px;
  padding: 20px 40px;
}

.projects {
  padding: 120px 0;
}
.projects__title {
  color: #2c2321;
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 48px;
  line-height: 1.25;
  margin: 0 0 50px 0;
}
.projects__block {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 150px 0;
}
.projects__block:last-child {
  padding: 0;
}
.projects__desc {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.projects__desc:first-child {
  padding: 0 40px 0 0;
}
.projects__desc:last-child {
  padding: 0 0 0 100px;
}
.projects__desc-line {
  background-color: #61594d;
  margin: 0 0 20px 0;
  max-width: 300px;
  height: 1px;
}
.projects__desc-title {
  color: #2c2321;
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  margin: 0 0 10px 0;
}
.projects__desc-text {
  color: #61594D;
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  max-width: 330px;
  margin: 0;
}
.projects__photo-img {
  display: block;
}
.projects__photo-img_left {
  max-width: 700px;
}
.projects__photo-img_right {
  margin: 0 -150px 0 0;
  max-width: 770px;
}

.blog {
  padding: 120px 0;
}
.blog .container .blog-post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.blog .container .blog-post .blog-post__block {
  width: 50%;
  padding: 0 35px;
}
.blog .container .blog-post .blog-post__block:first-child {
  padding: 0 35px 0 0;
}
.blog .container .blog-post .blog-post__block:last-child {
  padding: 0 0 0 35px;
}
.blog .container .blog-post .blog-post__block .blog-post__img {
  display: block;
  padding-bottom: 50px;
  max-width: 535px;
  width: 100%;
}
.blog .container .blog-post .blog-post__block .blog-post__data {
  color: #61594D;
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
  margin: 0 0 10px 0;
}
.blog .container .blog-post .blog-post__block .blog-post__name::before {
  content: "";
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-color: #d6680f;
  vertical-align: middle;
  margin: 0 10px 0 13px;
  width: 6px;
  height: 6px;
}
.blog .container .blog-post .blog-post__block .blog-post__line {
  background-color: #61594d;
  margin: 0 0 20px 0;
  max-width: 300px;
  height: 1px;
}
.blog .container .blog-post .blog-post__block .blog-post__title {
  color: #2c2321;
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  margin: 0 0 10px 0;
  max-width: 450px;
}
.blog .container .blog-post .blog-post__block .blog-post__description {
  color: #61594d;
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  margin: 0;
  max-width: 450px;
}

.architects {
  background-color: #2c2321;
}

.architects-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 120px 0;
}
.architects-block__head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
}
.architects-block__title {
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.25;
  color: #fff;
  margin: 0;
}
.architects-block__nav {
  display: flex;
}
.architects-block .nav-block__button:first-child {
  margin: 0 5px 0 0;
}
.architects-block .nav-block__button:last-child {
  margin: 0 0 0 5px;
}
.architects-block .nav-block__img {
  fill: none;
  width: 35px;
  height: 24px;
}
.architects-block .nav-block__img path {
  stroke: #cdcdcd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.architects-block .nav-block__img:hover path {
  stroke: #d6680f;
}
.architects-block__body {
  display: flex;
  padding: 0 15px;
}
.architects-block__column {
  padding: 0 15px;
}
.architects-block__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.architects-block .card-block::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(1.46deg, rgba(44, 35, 33, 0.9) -2.39%, rgba(44, 35, 33, 0) 34.73%, rgba(44, 35, 33, 0) 49.63%);
}
.architects-block .card-block__img {
  width: 100%;
  max-width: 350px;
}
.architects-block .card-block__details {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.architects-block .details-block {
  padding: 0 0 23px 30px;
}
.architects-block .details-block__name {
  color: #fff;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.25;
  margin: 0;
}
.architects-block .details-block__work {
  color: #cdcdcd;
  font-family: "HelveticaNowDisplay", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.footer-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid #61594d;
  padding: 40px 0 50px 0;
}
.footer-block__logo {
  display: flex;
  justify-content: baseline;
  width: 30%;
}
.footer-block__contact {
  display: flex;
  justify-content: baseline;
  width: 30%;
}
.footer-block .contact-block__list {
  max-width: 144px;
}
.footer-block .contact-block__item {
  line-height: 1.75;
}
.footer-block__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  width: 20%;
}
.footer-block .menu-block__item {
  line-height: 1.75;
}
.footer-block__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  width: 20%;
}
.footer-block .social-block__item {
  line-height: 1.75;
}
a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  color: #fff;
  background-color: #d6680f;
  border-radius: 6px;
  padding: 10px 30px;
}

@media all and (max-width: 1280px) {
  .showcase .text {
    padding-top: 80px;
    width: 40%;
  }
  .showcase .text h1 {
    font-size: 2.875rem;
  }
  .showcase .back {
    padding-top: 80px;
  }
  .showcase .back .img {
    position: absolute;
    top: 16%;
    right: 0;
    max-width: 62%;
  }
}
@media all and (max-width: 1200px) {
  .row {
    margin: 0 30px;
  }

  .projects__photo-img {
    width: 100%;
  }
}
@media all and (max-width: 969px) {
  .showcase .text {
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }
  .showcase .back {
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }
  .showcase .back .img {
    position: relative;
    max-width: 70%;
  }

  .intro .search-price h4 {
    text-align: center;
  }
  .intro .search-price form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .intro .search-price form input {
    margin-bottom: 20px;
  }
  .intro .search-price form input:nth-child(2) {
    margin-right: 0;
  }
  .intro .search-price form input:nth-child(3) {
    width: 100%;
    margin-right: 0;
  }
  .intro .advantage .block {
    padding: 0 15px;
  }
  .intro .advantage .block:first-child {
    padding-left: 0;
  }
  .intro .advantage .block:last-child {
    padding-right: 0;
  }
  .about .container .row {
    padding: 0 15px 0 15px;
  }
  .about .container .row .back {
    text-align: center;
    padding: 0 0 40px 0;
    width: 100%;
  }
  .about .container .row .back img {
    margin-left: 0;
    max-width: 600px;
    width: 100%;
  }
  .about .container .row .text {
    text-align: center;
    width: 100%;
  }
  .about .container .row .text h3 {
    padding: 0 80px;
  }
}
@media all and (max-width: 768px) {
  .row {
    margin: 0 90px;
  }

  .header .nav .logo {
    text-align: center;
  }
  .header .nav .menu {
    padding-top: 18px;
    flex: 0 100%;
    max-width: 100%;
  }
  .header .nav .block {
    justify-content: center;
    padding-top: 15px;
    flex: 0 100%;
    max-width: 100%;
  }

  .showcase .back .img {
    max-width: 100%;
  }
  .showcase .info .rating {
    flex: 0 60%;
    max-width: 60%;
  }
  .showcase .info .phone {
    flex: 0 40%;
    max-width: 40%;
  }

  .intro .advantage {
    flex-wrap: wrap;
  }
  .intro .advantage .block {
    width: 50%;
    padding: 15px;
  }
  .intro .advantage .block:nth-child(2) {
    padding-right: 0;
  }
  .about .container .row .text h3 {
    padding: 0 40px;
  }
  .projects__block {
    padding: 0 0 50px 0;
  }
  .projects__block:nth-of-type(2n) {
    flex-direction: column;
  }
  .projects__block:nth-of-type(2n+1) {
    flex-direction: column-reverse;
  }
  .projects__desc {
    width: 100%;
  }
  .projects__desc:first-child {
    padding: 0;
  }
  .projects__desc:last-child {
    padding: 0;
  }
  .projects__desc-line {
    margin: 20px 0;
  }
  .projects__desc-text {
    max-width: 100%;
  }
  .projects__photo {
    width: 100%;
  }
  .blog .container .blog-post .blog-post__block {
    width: 100%;
  }
  .blog .container .blog-post .blog-post__block:first-child {
    padding: 0 0 50px 0;
  }
  .blog .container .blog-post .blog-post__block:last-child {
    padding: 0;
  }
  .blog .container .blog-post .blog-post__block .blog-post__img {
    max-width: 100%;
  }
}
@media all and (max-width: 576px) {
  .row {
    margin: 0 60px;
  }

  .intro .search-price h4 {
    text-align: center;
  }
  .intro .search-price form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .intro .search-price form input {
    margin-bottom: 20px;
  }
  .intro .search-price form input:nth-child(1) {
    margin-right: 0;
  }

  .about .container .row .text h3 {
    padding: 0;
  }
  .footer-block__logo {
    justify-content: center;
    padding: 0 0 30px 0;
    width: 50%;
  }
  .footer-block__contact {
    justify-content: center;
    text-align: center;
    padding: 0 0 30px 0;
    width: 50%;
  }
  .footer-block__menu {
    justify-content: center;
    text-align: center;
    width: 50%;
  }
  .footer-block__social {
    justify-content: center;
    text-align: center;
    width: 50%;
  }
}
@media all and (max-width: 480px) {
  .showcase .text h1::after {
    top: -28%;
  }
}
@media all and (max-width: 420px) {
  .row {
    margin: 0 30px;
  }

  .showcase .info {
    display: block;
  }
  .showcase .info .rating, .showcase .info .phone {
    flex: 0 100%;
    max-width: 100%;
  }

  .footer-block__logo {
    width: 100%;
  }
  .footer-block__contact {
    width: 100%;
  }
  .footer-block .contact-block__list {
    max-width: 100%;
  }
}